Header
.customHeader .sapMText {
  font-size: 1.3rem;
}
.customHeader.sapContrast.sapTntToolHeader.sapMTB, .customHeader.sapContrast .sapTntToolHeader.sapMTB {
  background-color: steelblue;
  border-color: steelblue;
}
.pageMain .sapUiHLayoutChildWrapper, .horLayMainTitle .sapMText {
  width: 100%;
}
.pageMain .sapUiHLayoutChildWrapper {
  width: 100%;
}
.horLayMainTitle .sapMText {
  width: 100%;
}
.customHeader .customHeaderText {
  position: absolute;
  vertical-align: middle;
  text-align: center !important;
  margin-top: 10px !important;
  right: 0;
  min-height: 50px;
  width: calc(100% - 48px);
}
html.sap-desktop .sapContrast .customHeaderIcon.sapMBtn:focus>.sapMFocusable, html.sap-desktop .sapContrast.customHeaderIcon.sapMBtn:focus>.sapMFocusable {
  outline: none;
}

/*Accept button*/
.customBtnAccept.sapMBtn {
  width: 400px;
}
.customBtnAccept .sapMBtnInner {
  background: steelblue;
  color: white;
}

Main page
.pageMain {
  background-image: url("../images/electricity.jpg");
  opacity: 0.8;
  background-size: cover;
}
.pageMain .sapTntToolPageMainContentWrapper {
  padding: 30px;
}
.horLayMain {
  width: 50%;
  margin-top: 50px;
}
.horLayMain .sapUiHLayoutChildWrapper, .verLayMain {
  display: block;
}
.horLayMain .sapUiHLayoutChildWrapper {
  margin: 15px 0 15px 0;
}
.verLayMain .sapMLnk, .verLayMain .sapMLnk:hover:not(.sapMLnkDsbl), .verLayMain .sapMLnk:focus:not(.sapMLnkDsbl) {
  font-size: 1.1rem;
  color: white;
  text-decoration: underline;
}
.verLayMain .sapMLnk:focus, html.sap-desktop .verLayMain .sapMLnk:focus:not(.sapMLnkDsbl) {
  outline: none;
}
.verLayMain .customHeaderText {
  vertical-align: middle;
  font-size: 1.3rem;
  text-align: center !important;
  color: white;
  width: 100%;
}

Create Tenant page
.pageStandard .sapTntToolPageMainContentWrapper {
  padding: 30px;
}
.verLayStandard , .verLayStandardBtn .sapMBtnBase.sapMBtn, .verLayStandardBtn .sapMBtnInner{
  width: 100%;
}
.pageStandard .sapUiHLayoutChildWrapper {
  position: relative;
  vertical-align: middle;
}
.pageStandard .sapMLabel {
  width: 200px;
}
.pageStandard .sapUiHLayoutChildWrapper:nth-child(2) {
  width: 300px;
}
.verLayStandardBtn {
  width: 500px;
}
.verLayStandardBtn .sapUiVltCell {
  margin-top: 50px;
}
.verLayStandardBtn .sapMBtnInner {
  font-size: 1rem;
}

Enter Counter Number page
.customCurrentCounterNumber.sapMInputBaseHeightMargin {
  margin: 0;
}
.sapMListTbl .customTableHeaderText.sapMText {
  font-weight: bold;
}
.customLabel.sapMLabel {
  width: 100%;
  font-weight: bold;
}
.verLayStandard .sapUiCalMonthPicker, .verLayStandard .sapUiCalYearPicker {
  width: 25rem;
}
.customTableEnterCounterNumber.sapMList {
  margin: 30px 0;
}
.customTableEnterCounterNumber .sapMListTblNavCol, .customTableEnterCounterNumber .sapMListTblCell {
  vertical-align: middle;
}
.inputError .sapMInputBaseContentWrapper {
  border-color: red;
}

Funded Sheet page
.pageFundedSheet .sapTntToolPageMainContentWrapper {
  padding: 30px;
}
.pageFundedSheet .sapUiHLayoutChildWrapper {
  position: relative;
  vertical-align: middle;
}
.pageFundedSheet .verLayStandard:nth-child(3) {
  margin-top: 30px;
}
.verLayFundedSheet .sapUiVltCell.sapuiVltCell:nth-child(2) {
  margin-top: 30px;
}
.customLabelFundedSheet.sapMLabel {
  font-weight: bold;
}
.pageFundedSheet .sapUiHLayoutChildWrapper:nth-child(1) .sapMLabel {
  width: 40px;
}
.pageFundedSheet .sapUiHLayoutChildWrapper:nth-child(3) .sapMLabel {
  width: 90px;
  padding-left: 40px;
}
.pageFundedSheet .sapUiHLayoutChildWrapper:nth-child(5) .sapMLabel {
  width: 32px;
  padding-left: 10px;
}
.pageFundedSheet .sapUiHLayoutChildWrapper:nth-child(2),
.pageFundedSheet .sapUiHLayoutChildWrapper:nth-child(4),
.pageFundedSheet .sapUiHLayoutChildWrapper:nth-child(6) {
  width: 70px;
}

.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(1),
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(2),
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(3){
  width: 190px;
}
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(2),
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(3){
  margin-left: 40px;
}
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(1) .sapMBtn,
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(2) .sapMBtn,
.horLayFundedSheetButtons .sapUiHLayoutChildWrapper:nth-child(3) .sapMBtn{
  width: 100%;
}
.customTableFundedSheet.sapMList {
  margin: 30px 0;
}
.customTableFundedSheet .sapMListTblNavCol, .customTableFundedSheet .sapMListTblCell {
  vertical-align: middle;
}
.customTableFundedSheet .sapMListTblHeader .sapMText {
  font-weight: bold;
}
html.sap-desktop .horLayFundedSheetButtons .sapMBtn:focus>.sapMFocusable {
  outline: none;
}
